html, body {
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", "Helvetica", sans-serif;
    margin: 0;
    padding: 0;
    text-align:center;
    height: 100%;
    overflow: hidden;
  transition:all 0.5s ease;
  }

body {
  --pos1: 46% 54%;
  --pos2: 30% 94%;
  --pos3: 90% 5%;
  --pos4: 24% 60%;
  --pos5: 64% 7%;
  --pos6: 63% 5%;
  --pos7: 6% 40%;

  background-image:
    radial-gradient(at var(--pos1), rgb(182, 250, 232) 0px, transparent 50%),
    radial-gradient(at var(--pos2), rgb(88, 80, 247) 0px, transparent 50%),
    radial-gradient(at var(--pos3), rgb(182, 198, 255) 0px, transparent 50%),
    radial-gradient(at var(--pos4), rgb(90, 186, 246) 0px, transparent 50%),
    radial-gradient(at var(--pos5), rgb(255, 51, 204) 0px, transparent 50%),
    radial-gradient(at var(--pos6), rgb(169, 234, 189) 0px, transparent 50%),
    radial-gradient(at var(--pos7), rgb(171, 255, 245) 0px, transparent 50%);
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition:all 0.3s ease;
  animation: moveBg 3s linear infinite;
}

@keyframes moveBg {
  0% {
    --pos1: 46% 54%;
    --pos2: 30% 94%;
    --pos3: 90% 5%;
    --pos4: 24% 60%;
    --pos5: 64% 7%;
    --pos6: 63% 5%;
    --pos7: 6% 40%;
  }
  100% {
    --pos1: 60% 40%;
    --pos2: 60% 50%;
    --pos3: 20% 70%;
    --pos4: 90% 30%;
    --pos5: 40% 90%;
    --pos6: 10% 80%;
    --pos7: 60% 20%;
  }
}

  @keyframes curtainUp {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(-100%);
    }
  }
  
  .curtainUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-image:
    radial-gradient(at 46% 54%, rgb(31 40 192 / 51%) 0px, transparent 50%),
    radial-gradient(at 50% 94%, rgb(182 22 255 / 29%) 0px, transparent 50%),
    radial-gradient(at 90% 5%, rgb(15 51 59) 0px, transparent 50%),
    radial-gradient(at 24% 60%, rgb(57 0 142) 0px, transparent 50%),
    radial-gradient(at 64% 7%, rgb(255 0 192 / 80%) 0px, transparent 50%),
    radial-gradient(at  83% 95%, rgb(80 206 255 / 42%) 0px, transparent 50%),
    radial-gradient(at 6% 40%, rgb(89 187 151) 0px, transparent 50%);
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: curtainUp 0.8s ease forwards;
    will-change: transform;
  }

  
  
h1{
  font-size:42px;
    margin-left:5px;
  margin-top:10%;
}
h2{
    margin-left:3px;
  margin-top:-28px;
  margin-bottom:80px;
  font-size:60px;
}
.btn-container {
  position: fixed;
  top: 85%;
  margin-left:41%;
  width: 0;
  height: 0;
  pointer-events: none;
  transition: transform 0.65s ease;
}

  .btn {
    position: absolute;
    width: 91px;
    height: 90px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 25px #00000024;
    transition: all 0.5s ease;
    pointer-events: auto;
    opacity: 1;
  }
@media (min-width: 584px) {
  h1 {
    margin-top:6%;
  }
  .btn-container {
  position: fixed;
  top: 87%;
  margin-left:42%;
  width: 0;
  height: 0;
  pointer-events: none;
  transition: transform 0.65s ease;
}
.btn {
      width: 99px;
    height: 98px;
}
}
@media (min-width: 930px) {
  h1 {
    margin-top:6%;
  }
  .btn-container {
  position: fixed;
  top: 85%;
  margin-left:45%;
  width: 0;
  height: 0;
  pointer-events: none;
  transition: transform 0.65s ease;
}
.btn {
      width: 99px;
    height: 98px;
}
}
@media (min-width: 1370px){
    .btn-container {
  margin-left:47%;
}
}

  .btn img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.4s ease;
  }

  .btn img:hover {
    transform: scale(0.88);
  }

  .btn img:active {
    transform: scale(1.01);
  }
.btn:nth-child(1) {
  transform: rotate(21deg) translateX(-180px) rotate(-21deg);
}
.btn:nth-child(2) {
  transform: rotate(56deg) translateX(-200px) rotate(-56deg);
}
.btn:nth-child(3) {
  transform: rotate(90deg) translateX(-200px) rotate(-90deg);
}
.btn:nth-child(4) {
  transform: rotate(123.25deg) translateX(-180px) rotate(-123.25deg);
}
.btn:nth-child(5) {
  transform: rotate(159deg) translateX(-170px) rotate(-159deg);
}



/* はじめるボタン */
.start-button {
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", "Helvetica", sans-serif;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  padding: 18px 42px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  opacity: 0;
  text-align: center;
  text-decoration: none;
  z-index: 1000;
  width: 110px;
  transition: all 0.5s ease;
  overflow: hidden;
  white-space: nowrap;
}

.start-button.fade-in {
  opacity: 1;
  transition: all 0.3s ease;
}

.start-button::after {
  content: '';
  opacity: 0;
  margin-left: 8px;
  transition: all 0.5s ease;
}

.start-button:hover {
  width: 150px;
  background-color: rgba(255, 255, 255, 0.8);
}

.start-button:active {
    transform: translate(-50%, -50%) scale(0.8);
}
.start-button:hover::after {
transition:all 500ms ease;
  content: '→';
  opacity: 1;
}

.large-text {
  margin-top:66px;
  align-items:center;
  width:50%;
  font-size: 79px;
  text-shadow: 1px 2px 15px rgb(255 255 255 / 50%);
  opacity: 0.9;
  font-weight:400;
  transform: translate(50% , -80%);
  transition:all 0.5s ease;
}

.back-button {
  position: absolute;
  top: 5%;
  left: 18px;
  background-color: rgb(255 255 255 / 45%);
  color: #000000;
  font-size: 20px;
  padding: 20px 23px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 10000;
  transform: translateY(20px);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
}

/* hover時の効果 */
.back-button:active {
  background-color: rgb(0 0 0 / 70%);
  color: #ffffff;
}

/* ← に「戻る」テキストを追加する演出 */
.back-button .back-text::after {
  content: '';
  transition: all 0.5s ease;
  opacity: 0;
  margin-left: 0;
}
.back-button:hover .back-text::after {
  content: '戻る';
  opacity: 1;
  margin-left: 10px;
}

/* 表示させるとき用クラス */
.back-button.show {
  opacity: 1;
  transform: translateY(0);
}

